!
router bgp {{ bgp.asn }}
 bgp router-id {{ bgp.router_id }}
 bgp bestpath as-path multipath-relax
 neighbor underlay peer-group
 neighbor underlay remote-as external
{% for interface in bgp.fabric %}
 neighbor {{ interface }} interface peer-group underlay
{% endfor %}
 neighbor peerlink.4094 interface remote-as internal
 !
 address-family ipv4 unicast
  redistribute connected
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor underlay activate
  advertise-all-vni
 exit-address-family
!
