
###############
# Bridge
###############

auto bridge
iface bridge
    bridge-ports {% if mlag is defined %}peerlink {% endif %}{% if mlag is defined %} \
                 {% for mlag_bond in mlag.bonds %}bond_{{ mlag_bond.ports|join('_') }} {% endfor %}{% endif %}{% if vnis is defined %} \
                 {% for vni in vni_profiles|selectattr('name', 'in', vnis.profiles|default([])) %}vni{{ vni.vxlan_id }} {% endfor %}{% endif %}{% if bonds is defined %} \
                 {% for bond in bonds %}{{ bond.name }} {% endfor %}{% endif %}

    bridge-vids {% for vlan in vlan_profiles|selectattr('name', 'in', vlans.profiles|default([])) %}{{ vlan.id }} {% endfor %} 

    bridge-vlan-aware yes
