{% if comments|default(False) %}
###############
# SVI
###############
{{ svi.profiles | default() | to_nice_yaml | comment(prefix='# svi.profiles:', postfix='') -}} 
{% endif %}
{% for profile in svi.profiles %}
{%   for vlan in svi_profiles|selectattr('name', 'equalto', profile) %}
{%     if comments|default(False) %}
{{ vlan | default() | to_nice_yaml | comment(prefix='# vlan:', postfix='') -}} 
{%     endif %}
auto vlan{{ vlan.id }}
iface vlan{{ vlan.id }}
{%     if vlan.hwaddress is defined %}
    hwaddress {{ vlan.hwaddress }}
{%     endif %}
{%     for address in vlan.address|default() %}
    address {{ address }}
{%     endfor %}
{%     for address in vlan.address_virtual|default() %}
    address-virtual {{ address }}
{%     endfor %}
{%     if vlan.vrf is defined %}
    vrf {{ vlan.vrf }}
{%     endif %}
    vlan-raw-device bridge
    vlan-id {{ vlan.id }}
{%     for extra in vlan.extras|default() %}
    {{ extra }}
{%     endfor %}

{%   endfor %} 
{% endfor %}
